.Footer {
  background-color: rgba(121, 119, 66, 0.8);
  font-size: 14px;
}

/* .pointer {
  cursor: pointer;
} */

.link {
  color: #555555;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: #555555;
}

.ServiceImage {
  border-radius: 0.5rem 0.5rem 0 0;
}
