.Footer {
  background-color: rgba(132, 124, 61, 1);
  font-size: 14px;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FitContent > * {
  flex: 1;
}

.link {
  color: #3f3f3f;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: #555555;
}

.ServiceImage {
  border-radius: 0.5rem 0.5rem 0 0;
}
