.HeroImage {
  background-image: url("../assets/properties.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageAbout {
  background-image: url("../assets/about.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome {
  font-size: 4rem;
  font-weight: 600;
  margin: 8rem 0 0 0;
  padding: 0;
  color: #ffffff;
  top: 150px;
  left: 200px;
  position: absolute;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
