.Image,
.ImagesModal {
  max-width: 100%;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image {
  max-height: 20vh;
}

.NextIcon,
.PrevIcon {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  color: white;
  transform: translateY(-50%);
  z-index: 1;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.Image:hover {
  cursor: pointer;
}

.ImagesModal {
  max-height: 80vh;
}

.Modal {
  height: 100vh;
}

@media screen and (min-width: 576px) {
  .Modal {
    max-width: 90%;
  }
}
