/* Font awsome div */
.Listing__fontawsome {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.Listing__fontawsome i {
  margin-right: 10px;
}

/* Listing Header */
.Listing__header {
  margin-top: 10px;
  font-size: 1rem;
}

/* Features table */

.Listing__table {
  border: 1px solid #b0b000;
}

.Listing__table td {
  border: 1px solid rgba(176, 176, 0, 0.5);
  padding: 5px;
}

.Map {
  width: 100%;
  height: 300px;
}
.Listing__table td:first-child {
  background-color: #ececec;
  width: 30%;
}

.Listing__table td:nth-child(2) {
  font-weight: 500;
}

/* ListingsWishlistPage Image */
.Listingswishlist__Image {
  border-radius: 4rem 0.5rem 0 0;
  padding: 0 10px;
  max-height: 25vh;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .Listing__table {
    width: 100%;
  }
}
