/* Font awsome div */
.Listing__fontawsome {
  display: flex;
  align-items: center;
  margin: 0;
}

.Listing__fontawsome i {
  margin-right: 10px;
}

/* Listing Header */
.Listing__header {
  font-size: 1rem;
}

/* Features table */

.Listing__table {
  border: 1px solid #847c3d;
}

.Listing__table td {
  border: 1px solid #847c3d;
  padding: 5px;
}

.Map {
  width: 100%;
  height: 300px;
}
.Listing__table td:first-child {
  background-color: #ececec;
  width: 30%;
}

.Listing__table td:nth-child(2) {
  font-weight: 500;
}

/* ListingsPage Image */
.Listings__Image {
  border-radius: 0.3rem 0.3rem 0 0;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  /* overflow: hidden; */
}

.Listings__ImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.Listings__Card {
  width: 18rem;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media screen and (max-width: 767px) {
  .Listing__table {
    width: 100%;
  }

  .Listings__Card {
    margin: auto;
    width: 15rem;
  }
}
