.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 15px 5px 0 5px;
  font-weight: 500;
}

.NavLink:hover {
  color: #b0b000;
}

.Active {
  color: #b0b000;
}
