.SearchBar {
  color: rgb(77, 103, 101);
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}
.ErrorWidth {
  min-width: 25%;
  max-width: 50%;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0 5px;
}

.MinWidth {
  min-width: 100%;
}
.HomeBar {
  color: #000;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0.5rem;
  border: 1px solid rgba(77, 103, 101, 1);
}

.SearchInput {
  border: 1px solid rgba(77, 103, 101, 1);
}

/* Responsive design */

/* Small devices (landscape phones, up to 576px) */
@media screen and (max-width: 576px) {
  .ErrorWidth {
    min-width: 25%;
    max-width: 100%;
  }
}
