.SearchBar {
  color: #242a3d;
}

/* .SearchBarLabel {
  position: absolute;
  top: -25px;
  left: 1rem;
} */

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}
.ErrorWidth {
  min-width: 25%;
  max-width: 50%;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0 5px;
}

.MinWidth {
  min-width: 100%;
}

/* Responsive design */

/* Small devices (landscape phones, up to 576px) */
@media screen and (max-width: 576px) {
  .ErrorWidth {
    min-width: 25%;
    max-width: 100%;
  }
}
