.HeroImageAdv {
  background-image: url("../assets/advisory.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageCon {
  background-image: url("../assets/cont.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
}

.HeroImageAssetMgmt {
  background-image: url("../assets/assetMgmt.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageVal {
  background-image: url("../assets/valuation.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageListings {
  background-image: url("../assets/properties.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  font-size: 3rem;
  font-weight: 600;
  color: #847c3d;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.ContactPageContainer {
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  display: flex;
  flex-direction: column;
}

.ContactFormCol {
  margin-bottom: 3rem;
}

.ContactPageContent {
  background-color: rgba(132, 124, 61, 0);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 7rem 0 2rem;
}

.PageContentWrapper {
  border: 2px solid rgba(132, 124, 61, 0.4);
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  padding: 0.2rem;
}

.PageContent {
  background-color: rgba(132, 124, 61, 0.4);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.PageList {
  background-color: rgba(132, 124, 61, 0);
  border: 1.5px solid rgba(132, 124, 61, 0.4);
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 10px 32px 0 0;
}

/* @counter-style List {
  color: #000000 !important;
  system: cyclic;
  symbols: "◈";
  suffix: " ";
} */

.List li {
  margin: 10px 0 0 0;
  list-style: none;
  padding: 15px 0 0 0;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* Additional media queries for landscape orientation on mobile devices */
@media (max-width: 576px) and (orientation: landscape) {
  .ContactPageContainer {
    min-height: calc(100vh - 60px);
  }

  .ContactFormCol {
    padding-bottom: 20px;
  }
}

